# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Crap
*.suo
*.db*
*.opendb
*.ipch
*.vcxproj*
*.log
*.tlog
*.rc
*.sln
src/resource.h

UpgradeLog.htm
x64/Debug/*
test.cpp

build/*

# MATLAB test files
MATLAB/Force Data/*
MATLAB/Images/*
MATLAB/OLD/*
